a:hover {
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-body {
  display: grid;
  filter: drop-shadow(2px 4px 6px #000);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  max-width: 825px;
}

.correct {
  filter: drop-shadow(1px 1px 5px #3fff3f80);
  transition: ease-in-out;
}

.incorrect {
  filter: drop-shadow(1px 1px 5px #ff000080);
  transition: ease-in-out;
}

@media only screen and (max-width: 500px) {
  .App-body {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px;
  }
}